.panelBackground {
    background-color: rgb(50, 50, 50);
}

.subtitleButton {
    color: rgb(229, 229, 229);
    background-color: rgb(88, 88, 88);
}

.subtitleText {
    color: rgb(210, 210, 210);
}

.responseButton {
    color: rgb(229, 229, 229);
    background-color: rgb(88, 88, 88);
}

.timer {
}
